/* .container {
  min-height: 100vh;
  padding: 2rem;
  transition: background-color 0.3s, color 0.3s;
}

.container.light {
  background-color: #fff;
  color: #333;
}

.container.dark {
  background-color: #121212;
  color: #f1f1f1;
} */
.container {
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

main {
  padding: 2rem;
  text-align: center;
}